

.projectItemsSect {

    /* Box Model */
    padding: 10px;

    /* Border */
    border-style: solid;
    border-radius: 10px;

    /* Color */
    background-color: #716979;
    
}

/* ***** MEDIA QUERY 768px ******/


@media only screen and (max-width: 768px) {

    .container {
        margin: 0 5px;
    }

}