
.Header {
    /*  Flex */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Box Model */
    height: 100%;

    /* Border  */

    /* border-right: solid 5px black; */
    box-sizing: border-box;

    /* position */
    position: fixed;
}

.HeaderNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HeaderSectionMain {
    width: 100%;
    background-color: #3E3943;

    /* flex */
    display: flex;
    flex-direction: column;

    /*  */
    padding: 10px  2px 100px 2px;
}

.HeaderSectionTitle {
    width: 100%;
    background-color: #716979;

    /* flex */
    display: flex;
    flex-direction: column;

    /*  */
    padding: 10px  10px 10px 10px;

    /* border */
    border-bottom-right-radius: 5px;
}

.HeaderTitle {
    color: white;
    text-align: center;
}

/*  smaller sections */

.HeaderSection2 {
    border-bottom-right-radius: 10px;
    background-color: #3E3943;
    height: 30px;
    width: 100%;
    margin-top: 30px;
    padding: 5px;
}

.HeaderSection3 {
    background-color: #3E3943;
    height: 50px;
    width: 100%;
    margin-top: 30px;
    padding: 5px;
}
