
.footer {

    /* Size */
    width: 100%;
    height: 100px;
    box-sizing: border-box;

    /* Position */
    position: fixed;
    bottom: 0px;

    /* Color */
    background-color: rgb(50, 48, 54);

    margin: 0px;
    padding: 10px;

    /* Flex */
    display: flex;
}