/* global style */

body {
  margin: 0;
  background-color: #bcc0c8;
  font-family: 'Orbitron', sans-serif;

}

a {
  text-decoration: none;
  color: #1e5677;
  font-weight: bolder;
  transition: .15s;
}

a:hover {
  color:#bee1f7;
}

/***** HEX CODES ******/
/* 
Lightest purple - #DEDBE3
Light purple - #716979
Dark Purple - #3E3943


*/


/*****   CONTAINERS  *******/


.container {
  /* Box Model */
  margin: 0px 30px 10px 200px;
  padding: 5px;
}

/*  sub containers */

.sub-container {
  /* Flex */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  /* Color */
  background-color: #DEDBE3;

  /* Border */
  border-radius: 10px;

  /* Box Model */
  padding: 10px;

  /* Size */
}


/*****   TITLES  *******/

.pageTitle {
  font-size: 50px;
  text-align: center;
  margin: 30px 0 30px 0;
  padding: 10px;
  /* border-style: solid;
  border-color: ; */
  border-radius: 10px;
  background-color: #4f7a8b;
  color: white;
}

.pageSubTitle {
  font-size: 35px;
  text-align: center;
  margin: 30px 0 30px 0;
  padding: 10px;
  /* border-style: solid;
  border-color: ; */
  border-radius: 10px;
  background-color: none;
  color: white;
  font-style:italic;
}