/* global style */

body {
  margin: 0;
  background-color: #F9F6FE;

}

a {
  text-decoration: none;
  color: white;
}



.container {
  /* Box Model */
  margin: 0px 30px 10px 180px;
  padding: 5px;
}

/*  sub containers */

.sub-contain-right {
  /* Flex */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  /* Color */
  background-color: blue;

  /* Size */
}